@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.sub {
    position: absolute;
    bottom: 15px;
    left: 57px;
    font-size: 12px;
}
.circled {
    font-weight: 600;

    background-color: orange;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
}
.likes {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
}

.qpick {
    color: #000;
    position: relative;
}

.qpick::before {
    content: attr(data-text);

    background: linear-gradient(120deg, #662cf0, #eb412e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    animation: print 5s linear infinite;
    border-right: 2px solid #ac964f;
}

@keyframes print {
    0%,
    10%,
    100% {
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}
